*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
    font-family: sans-serif;
}
body{
    background-color: #4071f4;
     
}
.main-container{
    background-color: white;
    border-radius: 10px;
    /* height: 85vh; */
    height: auto;
    width: 60%;
    margin: 28px auto 10px  ;
    padding: 50px;
    }
    .my-container{
         color: rgb(86, 85, 85);
         /* color: purple; */
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 40px;
    }

   .input-box { 
    display: flex;
    flex-wrap: wrap;
   }
   .input-box .input {
    height: 2cm;
    padding-left:40px; 
    font-weight: bold;
    width: 270px;
    height: 50px;
    margin: 10px 0;
   }
   .input-box .input input {
    width: 90%;
    border-radius: 3px;
    height: 60%;
    padding: 0 10px;
    border: 1px solid rgba(0, 0, 0, 0.233);

   }
  button{
    margin: 35px;
    width: 5cm;
   color: white;
   background-color:#3259c5;
   font-size:15px;
   padding: 10px 0;
   border-radius: 5px;
   border: none;
  }

  button:hover{
    background-color:#7c92cf;
    cursor: pointer;
    

  }
   p{
    padding: 10px;
   }
